#header {
  height: 50px;
  background: #002349;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color:#fff;
}

div.breadcrumbs {
  background: #001123;
  color: #c29b40;
}

div.breadcrumbs a {
  color: #c29b40;
}

.module h2, .module caption, .inline-group h2 {
  background: #c29b40;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #c29b40;
  color: #fff;
}